<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header')%>
</head>
<body class="container">
            <br>
            <!-- <h2 class="text-center fw-bolder">Agregar Producto</h2> -->
            <h1 class="text-center fw-bolder">Ingrese un Producto</h1>
            <form method="post" enctype="application/x-www-form-urlencoded" id="form">
                <div class="mb-3">
                    <label for="title" class="form-label">Titulo</label>
                    <input type="text" class="form-control" name="title" id="title">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Precio</label>
                    <input type="number" class="form-control" name="price" id="price">
                </div>
                <div class="mb-3">
                    <label for="thumbnail" class="form-label">Thumbnail</label>
                    <input type="text" class="form-control" name="thumbnail" id="thumbnail">
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-success" type="submit">Enviar Producto</button>
                </div>
            </form>
            <br>
            <div id="errores" class="alert alert-warning" role="alert" style="display: none;">
                
            </div>
            <hr>
            <h2 class="text-center fw-bolder">Vista de Productos</h2>

            <table class="table" id="table">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center" scope="col">Nombre</th>
                        <th class="text-center" scope="col">Precio</th>
                        <th class="text-center" scope="col">Imagen</th>
                    </tr>
                </thead>
                <tbody id="tbody" name="tbody">
                </tbody>
            </table>

            
                <!-- <div class="alert alert-warning" role="alert">
                    <h5 class="text-center">
                        No se encontraron productos
                    </h5>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-success" onclick="location.href = '/api/agregar_producto';">Ir a agregar producto</button>
                </div> -->
            

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        function renderTable(productos) {
            let tbody = document.getElementById('tbody');
            tbody.innerHTML = '';
            let table = '';

            productos.productos.forEach((producto) => {
                table += `
                    <tr>
                        <td class="text-center">${producto.title}</td>
                        <td class="text-center">$ ${producto.price}</td>
                        <td><img src="${ producto.thumbnail }" alt="..." class="img-fluid rounded mx-auto d-block" style="max-width: 50px;"></td>
                    </tr>
                `
            })
            tbody.innerHTML = table;
        }
        let inputValues = {
            title: '',
            price: '',
            thumbnail: ''
        }
        let msg = ''
        const inputs = document.querySelectorAll('input');
        const errores = document.querySelector('#errores');
        
        inputs.forEach(input => {
            input.addEventListener('input', e => {
                inputValues = {...inputValues, [e.target.name]: e.target.value};
          })
        })

        const socket = io();

        document.querySelector('#form').addEventListener('submit', e => {
            e.preventDefault()
            if ((inputValues.title !== '') && (inputValues.price !== '') && (inputValues.thumbnail !== '')) {
                document.querySelector('#errores').style.display = "none";
                const { title, precio, thumbnail } = inputValues;
                inputs.forEach(input => {
                    input.value = '';
                });
                socket.emit('producto', inputValues);
                inputValues = {
                    title: '',
                    price: '',
                    thumbnail: ''
                }
            } else {
                document.querySelector('#errores').style.display = "block";
                msg = '<p>Error: se deben rellenar los siguientes campos</p>';
                inputs.forEach(input => {
                    if (input.value === '') {
                        switch (input.name) {
                            case 'title':
                                msg += `<p> - Titulo</p>`;
                                break;
                            case 'price':
                                msg += `<p> - Precio</p>`;
                                break;
                            case 'thumbnail':
                                msg += `<p> - Imagen </p>`;
                                break;
                        }
                    }
                })
                errores.innerHTML = msg;
            }
        })
        

        socket.on('productos', (productos) => {
            renderTable(productos)
        })
    </script>
</body>
</html>