<div class="row" id="row_titulo_login">
  <div class="col">
    <h2 class="alert alert-success" role="alert">
      <div class="row">
        <div class="col" id="titulo_login">
          Bienvenido <%= tituloUsuario %>
        </div>
        <div class="col">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a href="/logout" class="btn btn-warning" >Cerrar Sesión</a>
            </div>
        </div>
      </div>
    </h2>
  </div>
</div>
<div class="row" id="row_titulo_logout" style="display: none;">
  <div class="col">
    <h2 class="alert alert-success" role="alert" id="titulo_logout"></h2>
  </div>
</div>