<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header')%>
</head>
<body class="container">
  <div class="card text-white bg-danger mt-4">
    <h5 class="card-header">Error LogIn</h5>
    <div class="card-body">
      <h5 class="card-title">Upps...</h5>
      <p class="card-text">Hubo un error al iniciar sesión, presione el boton para volver a intentarlo.</p>
      <a href="/login" class="btn btn-warning">Iniciar Sesión</a>
    </div>
  </div>
</body>
</html>