<h2 class="text-center fw-bolder">Vista de Productos</h2>
            <table class="table" id="table">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center" scope="col">Nombre</th>
                        <th class="text-center" scope="col">Descripcion</th>
                        <th class="text-center" scope="col">Imagen</th>
                        <th class="text-center" scope="col">Codigo</th>
                        <th class="text-center" scope="col">Stock</th>
                    </tr>
                </thead>
                <tbody id="tbody" name="tbody">
                </tbody>
            </table>