<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header')%>
</head>
<body class="container">
    <form action="/login" method="POST">
        <div class="d-flex justify-content-center my-3">
            <h2>Iniciar Sesión</h2>
        </div>
        <div class="row">
            <div class="col">
                <label for="username">Usuario</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <label for="password">Contraseña</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" aria-describedby="send-password" required>
                    <button class="btn btn-success" type="submit" id="send-password">Enviar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mt-3">
                    <button class="btn btn-success" type="button" id="facebook" name="facebook" onclick="location.href = '/auth/facebook'">Iniciar Sesión con Facebook</button>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col text-center mt-4">
                <a href="/register">¿No te has registrado? Presiona AQUI para registrarte! </a>
            </div>
        </div> -->
    </form>
</body>
</html>