<h1 class="text-center">Centro de Mensajes</h1>
<div class="row" id="lista_mensajes">

</div>
<div class="row" id="quien_escribe">

</div>
<form action="" id="form-chat">
    <div class="row">
        <div class="col">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" >
        </div>
        <div class="col">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" >
        </div>
        <div class="col">
            <label for="edad" class="form-label">Edad</label>
            <input type="number" class="form-control" id="edad" name="edad" >
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="mail" class="form-label">Correo electronico</label>
            <input type="email" class="form-control" id="mail" name="mail" >
        </div>
        <div class="col">
            <label for="alias" class="form-label">Alias</label>
            <input type="text" class="form-control" id="alias" name="alias" >
        </div>
        <div class="col">
            <label for="avatar" class="form-label">Avatar()</label>
            <input type="text" class="form-control" id="avatar" name="avatar" >
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="message" class="form-label">Mensaje</label>
            <div class="input-group">
                <input type="text" class="form-control" id="message" name="message" aria-describedby="send-message">
                <button class="btn btn-outline-success" type="submit" id="send-message">Enviar</button>
            </div>
        </div>
    </div>
</form>
<div id="errores_chat" class="alert alert-warning" role="alert" style="display: none;">
                
</div>